body {
    font-family: Georgia, serif;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #4d3f41;
    letter-spacing: 0.05em;
    caret-color: transparent;
}

fieldset {
    margin-bottom: 20px;
    border: 0.5px solid #a2a1a4;
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    font-size: 18px;
    letter-spacing: 0.06em;
}

input::placeholder {
    font-size: 16px;
}

.container{
    width: 780px;
    margin: auto;
    z-index: 1;
}

#order-confirmation {
    margin-top: 20px;
    font-size: 20px;
}

.delivery, .payment {
    padding-bottom: 18px;
}

input {
    line-height: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#house, #flat{
    width: 80px;
}

.address {
    display: flex;
    flex-direction: column;
}

.fname, .lname, .street{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.house {
    display: flex;
    margin-bottom: 15px;
}

div.house > div {
    margin-right: 100px;
}

.gift {
    margin-bottom: 12px;
}

.field-wrapper {
    display: flex;
    flex-direction: column;

}

.fname .field-wrapper, .lname .field-wrapper, .street .field-wrapper {
    width: 79%;
}

.house .field-wrapper {
    display: inline;
}


.customer-name {
    display: flex;
    flex-direction: column;
}

input[type=submit] {
    width: 100%;
    border: 0.5px solid #a2a1a4;
    border-radius: 6px;
    font-size: 18px;
    letter-spacing: 0.06em;
    height: 34px;
}

small {
    color: darkred;
    display: block;
}

#order-confirmation {
    /*display: none;*/
}
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.fa-solid {
    font-size: 42px;
    /*margin-right: 20px;*/
}

a {
    color: #4d3f41;
    text-decoration: none;
}

a:visited {
    color: #4d3f41;
    text-decoration: none;
}

input {
    caret-color: #4d3f41;
}
